@font-face {
    font-family: "BlackSnap";
    src:
        url("Assets/Fonts/CarlaSansRegular.woff") format("woff");
}

@font-face {
    font-family: "BlackSnap";
    src:
        url("Assets/Fonts/CarlaSansLight.woff") format("woff");
    font-weight: 200;
}


html,
body {
    overflow-x: hidden;
    background-color: #222;
    background: url("Assets/Background/bTexture_1.jpg");
    background-attachment: fixed;
}

body {
    padding: 0;
    margin: 0;

    * {
        transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        -webkit-transition: all .5s ease-in;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

h1 {
    font-family: BlackSnap, "Kumbh Sans", sans-serif;
    font-weight: 200;
}

h2,
h3,
li,
label,
form,
textarea {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 0px;
    padding: 1em 4em;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0E0D;
    opacity: .6;
    position: fixed;
    height: 56px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    &:hover {
        opacity: 1;
    }

    & a.logo {
        display: flex;
        width: fit-content;
        height: fit-content;
    }

    & ul.navnav {
        display: flex;
        flex-direction: row;
        width: fit-content;
        padding: 0;
        gap: 1em;
        align-items: center;
        list-style: none;

        .active a{
            color: #33FF9E;
        }

        & a{
            color: white;
        }
    }
}


footer {
    padding: 2rem 4rem;
    background-color: #0A110F;
    background-image: url(Assets/Background/bTexture_0.jpg);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & * {
        flex: 1;
    }

    & .logoLink {
        width: 30%;
        height: fit-content;
        min-width: 300px;
        padding-bottom: 2rem;
    }

    & h2 {
        display: none;
        margin: 0;
    }

    & .links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 0%;
        gap: .5rem;
        min-width: 300px;

        & * {
            color: white;
        }

        &>div {
            min-width: 250px;

        }

        & h3 {
            margin: 0;
        }

        & ul {
            padding: 0;
            list-style: none;

            & li * {
                text-decoration: none;
            }
        }
    }

    & .copyright {
        width: 100%;
        flex: none;
        text-align: center;
    }
}


button {
    display: flex;
    padding: .5rem 1rem;
    width: fit-content;
    margin: auto;
}

div#connection {
    display: flex;
    background-color: rgba(18, 23, 21, .5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 1rem;

    & .container {
        max-width: 1080px;
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: #121715;
        max-height: 85vh;
        overflow: auto;
        color: white;

        &>img {
            width: 30%;
            flex: 1;
            object-fit: cover;
            min-width: 300px;
        }

        .form {
            width: 60%;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            min-width: 300px;

            & form {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                & .col {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    color: white;
                }

                & button {
                    margin: 0 0 0 auto;
                    font-family: "Cormorant Garamond", serif;
                    font-size: 20px;
                    background-color: #F5F7F6;
                    border: none;
                    border-radius: 3px;
                    color: #121715;
                }
            }

        }
    }
}