header img{
    object-position: top;
}

section#display .container img:nth-child(1){
    grid-column: span 4;
    grid-row: span 4;
}
section#display .container img:nth-child(2){
    grid-column: span 8;
    grid-row: span 4;
}
section#display .container img:nth-child(3){
    grid-column: span 6;
    grid-row: span 4;
}
section#display .container img:nth-child(4){
    grid-column: span 6;
    grid-row: span 8;
    object-position: 50% 20%;
}
section#display .container img:nth-child(5){
    grid-column: span 6;
    grid-row: span 4;
}

@media(max-width: 700px){
    section#display .container{
        display: flex;
        flex-direction: column;

        & img{
            height: 600px;
            width: 100%;
        }
    }
}